@{
    Layout = null;
    ViewData["Title"] = "Pizzeria da Adrian";
    var margherita = new Pizza("Margherita", "Mozzarella e pomodoro", "/img/margherita.jfif", 5.00);
    var diavola = new Pizza("Diavola", "Mozzarella, pomodoro e salame piccante", "/img/diavola.jfif", 6.00);
    var quattroStagioni = new Pizza("Quattro Stagioni", "Mozzarella e pomodoro e un altro po' di roba", "/img/quattro_stagioni.jfif", 7.50);
    var salsicciosa = new Pizza("Salsicciosa", "Mozzarella, patate e salsiccia", "/img/salsicciosa.jfif", 8.00);
    var pizze = new List<Pizza>();
    pizze.Add(margherita);
    pizze.Add(diavola);
    pizze.Add(quattroStagioni);
    pizze.Add(salsicciosa);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/la_mia_pizzeria_static.styles.css" asp-append-version="true" />
</head>
<body>
    <h1 class="text-center title">La Mia Pizzeria</h1>
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr class="text-center">
                    <th scope="col">Nome</th>
                    <th scope="col">Descrizione</th>
                    <th scope="col">Foto</th>
                    <th scope="col">Prezzo</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var pizza in pizze)
                    {
                        <tr class="text-center align-middle">
                            <th scope="row">@pizza.Nome</th>
                            <td>@pizza.Descrizione</td>
                            <td class="w-25"><img src="@pizza.Foto" class="w-100" /></td>
                            <td>@pizza.Prezzo €</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</body>
</html>